{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title%} {% endblock %} </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'patient'%}"> Elegir otro paciente </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: history.go(-1)">Trials y Canales</a>
                    </li>
            </div>
        </nav>

    </div>
    {% block body%} {% endblock body%}
</body>

</html>